fastapi
uvicorn
sqlmodel
python-multipart
requests
passlib==1.7.4
bcrypt==3.2.2
python-jose[cryptography]
python-dotenv
pytesseract
Pillow
easyocr
opencv-python-headless
google-generativeai
pytest
pytest-asyncio
httpx
paho-mqtt
